<%= form_with model: [@recipe, @recipe.recipe_foods.create] do |form| %>
    <div class="form-element">
    <%= form.label :food, "Recipe Name:" %>
    <%= form.select :food_id, current_user.foods.collect {|food| [food.name, food.id]}, class:"form-select" %>
  </div>
  <br>
  <div class="form-element">
    <%= form.label :quantitiy, "Please Select Quantity: " %>
    <%= form.number_field :quantitiy, placeholder: '1', min: 1, required: true, class:"form-number-field" %>
  </div>
  <br>
  <div class="form-element">
    <%= form.submit "Create Ingredients", class:'button-class'%>
  </div>
<% end %>